
<div class="contents">
    <form class="reg-form">
        <h3>Регистрация</h3>
        <div class="name reg-element"> 
            <label for="name">Ваше имя</label>
            <input type="text" id="name" name="name" placeholder="Name">
        </div>
        <div class="surname reg-element"> 
            <label for="surname">Ваша фамилия</label>
            <input type="text" id="surname" name="surname" placeholder="Surname">
        </div>
        <div class="email reg-element"> 
            <label for="email">Ваш e-mail</label>
            <input type="email" id="email" name="email" placeholder="example@mail.com">
        </div>
        <div class="password reg-element">
            <label for="password">Придумайте пароль</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="reppas reg-element">
            <label for="reppas">Повторите пароль</label>
            <input type="password" id="reppas" name="reppas">
        </div>

        <input class="button" type="submit" value="Зарегистрироваться">
        
        <div class="reg-links"> 
            <a href="/auth#auth">Авторизация</a>
        </div>
    </form>

</div>
