.contents{
    padding: 160px 15%;
}

.info-block{
    /* align-content: flex-start; */
    width: 100%;
}

.contents .booking-housing{
    /* border: 0; */
}
.details{
    align-items: flex-start;
    min-height: 160px;
    height: auto;
}
.details-block{
    width: 33%;
    padding: 0 8px;
    /* padding-left: 16px; */
    border-right: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: justify; */
}
.period{
    height: 160px;
}
.traveller{
    height: 160px;
}
.price{
    border-right: 0;
    height: 160px;
}
.details-item{
    padding: 8px 0;
    width: 100%;
}

.offering{
    height: auto;
    border: 0;
}
.offering-form{
    width: 100%;
}
.offering-block{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 16px;
}
.offering-item{
    width: 100%;
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin: 0 8px;
}
.button{
    justify-content: right;
}
.button button{
    width: 100%;
    margin-top: 16px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: #1976d2;
    color: #fff;
    font-weight: bold;
    font-size: large;
}
.offering-item label{
    width: 100%;
    color: #666;
}
.offering-item input{
    width: 92%;
    height: 20px;
    border: 0;
    margin-right: 8px;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #eef2f8;
}