<div class="contents">
    <div class="content-item booking-housing">

        <div class="image-block">
        <!-- Настроить сохранение и отображение изображений -->
        <!-- <img src="" > -->    
        </div> 

        <div class="info-block">
            <!-- ссылка на страницу с подробробной инфой  -->
            <div class="header-info-block">
                <a href="#" class="name">Гостевой Дом У Моря Siesta</a>
                <p class="location">
                    Vityzevo
                    <!-- {{houses.location}} -->
                </p>
            </div>

            <div class="description-block">
                <p class="description">
                    Гостевой дом У моря siesta находится в Витязево. 
                    Этот гостевой дом располагается в пешей доступности от центра города. 
                    Рядом с гостевым домом — пляж «Кавказ», пляж «Жемчужина» и пляж «Одиссея».
                </p>
            </div>

            <div class="buttons-block">
                <p>
                    Номер Garden Deluxe
                    <br>
                    Одна комната, на 2 персоны
                </p>
            </div>
        </div>

    </div>

    <div class="content-item details">
        <div class="details-block period">
            <form class="search-form housing" method="post" >
                <div class="details-item from">
                    <div class="input-item">
                        <label for="arrival-day">День заезда</label>
                        <input type="date" name="arrival-day" id="arrival-day" placeholder="25 марта">    
                    </div>
                </div>
                
                <div class="details-item to">
                    <div class="input-item">
                        <label for="departer-day">День выезда</label>
                        <input type="date" name="departer-day" id="departer-day" placeholder="25 марта">    
                    </div>
                </div>
            
                <div class="details-item nights">
                    Итого:
                    <br>
                    ... ночей
                </div>
            </form>
        </div>

        <div class="details-block traveller">
            <div class="details-item name">
                Name Surname
            </div>
            <div class="details-item age">
                23
            </div>
            <div class="details-item phone">
                +77077077007
            </div>
            <div class="details-item email">
                email@email.com
            </div>
        </div>

        <div class="details-block price">
            <div class="details-item daily-cost">
                Daily Cost:
                <br>
                12000
            </div>
            <div class="details-item final-cost">
                Final Cost:
                <br>
                36000
            </div>
        </div>
    </div>

    <div class="content-item offering">
        <form class="offering-form">
            <div class="offering-block card-data">
                <div class="offering-item card-number">
                    <label for="card-number">Number of card</label>
                    <input type="number" name="card-number" id="card-number" placeholder="0000 0000 0000 0000">
                </div>

                <div class="offering-item card-date">
                    <label for="card-date">Date of card</label>
                    <input type="date" name="card-date" id="card-date" placeholder="00/00/0000">
                </div>

                <div class="offering-item card-csv">
                    <label for="card-csv">CSV of card</label>
                    <input type="number" name="card-csv" id="card-csv" placeholder="000">
                    
                    <div class="offering-block button">
                        <button type="submit" class="">Order</button>
                    </div>
                </div>
            </div>

            
        </form>
    </div>

</div>