
<!-- <div class="conteiners"> -->
    <div class="header-block">
        <h1>Сравнивайте рейсы и бронируйте авиабилеты — это легко</h1>
        <h2>Найдите направление для поездки мечты</h2>
    </div>

    <div class="contents">
        <form class="search-form air-tickets">
            <div class="input-item">
                <label>Откуда вы хотите поехать?</label>
                <input id="address1" type="text" name="place-name" placeholder="Откуда вы хотите поехать?">
            </div>
            <div class="input-item">
                <label>Куда вы хотите поехать?</label>
                <input id="address2" type="text" name="place-name" placeholder="Куда вы хотите поехать?">
            </div>
            <div class="input-item">
                <label>Дата отправления</label>
                <input type="date" name="dates" placeholder="25 марта">
            </div>
            <div class="input-item">
                <label>Пассажиры</label>
                <input type="text" name="passangers" placeholder="2 взрослых">
            </div>
            <input class="button" type="submit" value="Найти">
        </form>
    </div>
