
<!-- <div class="conteiners"> -->
    <div class="header-block">
        <h1>Сравнивайте рейсы и бронируйте авиабилеты — это легко</h1>
        <h2>Найдите направление для поездки мечты</h2>
    </div>

    <div class="contents">
        <form class="search-form air-tickets">

            <!-- добавить сложный конструктор -->
            <input type="text" name="place-name" placeholder="Откуда вы хотите поехать?">
            <input type="text" name="swiap" placeholder="swap">
            <input type="text" name="place-name" placeholder="Куда вы хотите поехать?">
            <input type="date" name="dates" placeholder="25 марта">
            <input type="text" name="passangers" placeholder="2 взрослых">
            <input class="button" type="submit" value="Найти">
        </form>
    </div>

    <div class="footer"></div>
<!-- </div> -->