
<div class="contents">
    <form class="reg-form">
        <h3>Авторизация</h3>
        <div class="email reg-element"> 
            <label for="email">Ваш e-mail</label>
            <input type="email" id="email" name="email" placeholder="example@mail.com">
        </div>
        <div class="password reg-element">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password">
        </div>

        <input class="button" type="submit" value="Войти">
        
        <div class="reg-links"> 
            <a href="/reg#reg">Регистрация</a>
            <!-- страница помощи  -->
            <!-- <a href="#">Забыли пароль?</a> -->
        </div>
    </form>

</div>
