.contents{
    margin-top: 140px;
    padding: 20px 15% 0 15%;
    display: flex;
    justify-content: center;
}
h3{
    width: 100%;
}
.auth-form{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
}

.auth-form .auth-element{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.auth-form label{
    color: #666;
}
.auth-form input{
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    background-color: #eef2f8;
    margin-bottom: 20px;
    border-color: #eef2f8;
    outline: none;
}
.auth-form .auth-element input:focus{
    border-color: #eef2f8;
}
.auth-form .auth-links{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}

.auth-form .auth-links a{
    color: #1976d2;
    text-decoration: none;
}

.contents .auth-form .button{
    height: 40px;
    background-color: #1976d2;
    color: #fff;
    cursor: pointer;
}
