<router-outlet/>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a class="menu-item" href="/"><b>Booking.com</b></a>
  
  
    <div class="menu log-block">
      <a class="log-item menu-item" id="reg" href="/reg#reg">Зарегистрироваться</a>
      <a class="log-item menu-item" id="auth" href="/auth#auth">Войти в аккаунт</a>
    </div>
  
    <div class="menu links-block">
      <a class="menu-item" id="housing" href="/housing#housing">Жилье</a>
      <a class="menu-item" id="air-tickets" href="/air-tickets#air-tickets">Авиабилеты</a>
      <a class="menu-item" id="car-rental" href="/car-rental#car-rental">Аренда машин</a>
      <!-- отображать только при авторизации -->
      <a class="log-item menu-item" id="reg-new-house" href="/reg-new-house#reg-new-house">Зарегистрировать свой объект</a>
    </div>
</div>
<div class="content" role="main">
  
</div>