<router-outlet/>

<!-- Toolbar -->
<div id="mobile-toolbar">
  <a class="menu-item" href="/"><b>Booking.com</b></a>

  <input id="menu__toggle" type="checkbox" />
  <label class="menu__btn" for="menu__toggle">
    <span></span>
  </label>
  
  <ul class="menu__box ">
    <li><a class="log-item menu-item" id="reg" href="/reg#reg">Зарегистрироваться</a></li>
    <li><a class="log-item menu-item" id="auth" href="/auth#auth">Войти в аккаунт</a></li>
    <li><a class="log-item menu-item" id="user" href="/user#user">Мой профиль</a></li>
    <li><a class="log-item menu-item" id="logout" href="/auth#auth">Выйти</a></li>
    <li><a class="menu-item" id="housing" href="/housing#housing">Жилье</a></li>
    <li><a class="menu-item" id="air-tickets" href="/air-tickets#air-tickets">Авиабилеты</a></li>
    <li><a class="menu-item" id="car-rental" href="/car-rental#car-rental">Аренда машин</a></li>
    <li><a class="log-item menu-item" id="reg-new-house" href="/reg-new-house#reg-new-house">Зарегистрировать свой объект</a></li>
  </ul>

</div>
<div class="toolbar" role="banner">
    <a class="menu-item" href="/"><b>Booking.com</b></a>

    <ul class="menu log-block">
      <li><a class="log-item menu-item" id="reg" href="/reg#reg">Зарегистрироваться</a></li>
      <li><a class="log-item menu-item" id="auth" href="/auth#auth">Войти в аккаунт</a></li>
      <li><a class="log-item menu-item" id="user" href="/user#user">Мой профиль</a></li>
      <li><a class="log-item menu-item" id="logout" href="/auth#auth">Выйти</a></li>
    </ul>
    <ul class="menu links-block">
      <li><a class="menu-item" id="housing" href="/housing#housing">Жилье</a></li>
      <li><a class="menu-item" id="air-tickets" href="/air-tickets#air-tickets">Авиабилеты</a></li>
      <li><a class="menu-item" id="car-rental" href="/car-rental#car-rental">Аренда машин</a></li>
      <li><a class="menu-item" id="reg-new-house" href="/reg-new-house#reg-new-house">Зарегистрировать свой объект</a></li>
    </ul>

    <!-- <div class="menu">
      <div class="menu log-block">
        <a class="log-item menu-item" id="reg" href="/reg#reg">Зарегистрироваться</a>
        <a class="log-item menu-item" id="auth" href="/auth#auth">Войти в аккаунт</a>
        <a class="log-item menu-item" id="user" href="/user#user">Мой профиль</a>
        <a class="log-item menu-item" id="logout" href="/auth#auth">Выйти</a>
      </div>
  
      <div class="menu links-block"> 
        <a class="menu-item" id="housing" href="/housing#housing">Жилье</a>
        <a class="menu-item" id="air-tickets" href="/air-tickets#air-tickets">Авиабилеты</a>
        <a class="menu-item" id="car-rental" href="/car-rental#car-rental">Аренда машин</a>
        <a class="menu-item" id="reg-new-house" href="/reg-new-house#reg-new-house">Зарегистрировать свой объект</a>
      </div>
  </div> -->
</div>
<div class="content" role="main">
  
</div>