
<!-- <div class="conteiners"> -->
    <div class="header-block">
        <h1>Найдите жилье для новой поездки</h1>
        <h2>Ищите спецпредложения на отели, дома и другие варианты.</h2>
    </div>

    <div class="contents">
        <form class="search-form housing">
            <input type="text" name="place-name" value="Куда вы хотите поехать?">
            <input type="date" name="dates" value="25 марта">
            <input type="text" name="passangers" value="2 взрослых">
            <input class="button" type="submit" value="Найти">
        </form>
    </div>

    <div class="footer"></div>
<!-- </div> -->