
<!-- <div class="conteiners"> -->
    <div class="header-block">
        <h1>Аренда автомобилей для любой поездки</h1>
        <h2>Отличные предложения от крупнейших прокатных компаний.</h2>
    </div>

    <div class="contents">
        <form class="search-form car-rental">
            <input type="text" name="place-name" placeholder="Место подачи">
            <input type="date" name="dates-take" placeholder="25 марта">
            <input type="time" name="times-take" placeholder="10:00">
            <input type="date" name="dates-back" placeholder="27 марта">
            <input type="time" name="times-back" placeholder="10:00">
            <input class="button" type="submit" value="Найти">
        </form>
    </div>

    <div class="footer"></div>
<!-- </div> -->